* {
          box-sizing: border-box;
     -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
   -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  background: #fafafa;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: 20px;
  }
  color: #333;

  &.kc-is-open {
    color: #fff;
    .wrapper {
      background: #50b342;
    }
  }
}

.wrapper {
  background: #eee;
  border-radius: 6px;
  margin: 2.5em auto 0 auto;
  max-width: 32em;
  padding: 3em;
  width: 80%;
}

p {
  font: {
    size: 1em;
    weight: 200;
  }
  line-height: 1.5em;
}

h1 {
  border-bottom: .15em solid;
  font-size: 3em;
  line-height: 1;
  letter-spacing: -1px;
  padding-bottom: .5em;
}

h5 {
  color: #333;
}