ul {
  border-bottom: 1px solid #b0b0b0;
  list-style: none;
  margin-bottom: .5em;
  padding-bottom: .5em; }
  @media screen and (min-width: 480px) {
    ul {
      margin-bottom: 1em;
      padding-bottom: 1em; } }

li ~ li {
  margin-top: .5em; }
@media screen and (min-width: 480px) {
  li {
    display: inline-block; }
    li ~ li {
      margin-left: 1.5em;
      margin-top: 0; } }

.label {
  display: block;
  font-size: 76%;
  font-weight: 500;
  line-height: 1; }