$dark-green: #447125;
$light-green: #a3ea73;
$dark-grey: #262626;
$medium-grey: #b0b0b0;
$light-grey: #e9e9e9;
$purple: #3c013b;
$red: #ee2f39;

* {
  box-sizing:         border-box;
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.bold { font-weight: 500; }

body {
  background: $light-grey;
  color: $dark-grey;
  font: {
    family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    size: 20px;
  }
}

h1 {
  border-bottom: .15em solid;
  font-size: 1.75em;
  line-height: 1;
  letter-spacing: -1px;
  margin: 0 0 20px;
  padding-bottom: .5em;

  @media screen and (max-width: 480px) {
    border-bottom: .05em solid;
    font: {
      size: 1.25em;
    }
    line-height: 1.25;
  }
}

.icon-status {
    display: inline-block;
    width: .55em;
    height: 1em;
    vertical-align: middle;
    
    
    &.open {
        background: url('../images/check.svg') no-repeat center center;
        background-size: .5em .5em;
    }
    
    &.closed {
        background: url('../images/x.svg') no-repeat center center;
        background-size: .5em .5em;
    }
}

h4 { margin: .5em 0 .75em; }

p, ul {
  font: {
    size: 1em;
    weight: 200;
  }
  margin: 0;
  padding: 0;
  line-height: 1.5em;
}

ul {
  list-style: none;

  @media screen and (min-width: 480px) {
    margin-bottom: 1em;
    padding-bottom: 1em;
  }
}

li {
  ~ li {
    margin-top: .5em;
  }

  @media screen and (min-width: 480px) {
    display: inline-block;
    ~ li {
      margin-left: 1.5em;
      margin-top: 0;
    }
  }
}

.label {
  display: block;
  font-size: 76%;
  font-weight: 500;
  line-height: 1;
}

.wrapper {
  margin: 1.25em auto 0 auto;
  max-width: 30em;
  padding:  0 3em 3em;
  width: 80%;

  @media screen and (max-width: 480px) {
    padding: 1em;
  }
}

.kc-is-open,
.kc-is-closed {
  border-bottom: 1px solid $medium-grey;
  margin-bottom: .5em;
  padding-bottom: .5em;
}

.kc-is-open { color: $dark-green; }
.kc-is-closed{ color: $red }